<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Zuccante</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/global.css">
    </head>
    <body>
        <header>
            About
        </header>
        <nav>
            <ul id="navlist">
                <a href="/"><li class="navitem">Home</li></a>
                <a href="/about"><li class="navitem">About</li></a>
                <a href="/rules"><li class="navitem">Regolamento</li></a>
            </ul>
        </nav>
        <br>
        <p>Questo sito è un progetto nato dalla profondità della mia noia:</p>
        <p>non avendo nulla di meglio da fare ho deciso di imparare flask e creare qualcosa di utile.</p>
        <p>Il sito viene self hostato su una nintendo switch. Tipo for real.</p>
    </body>
</html>