<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8">
        <title>Regole</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="../static/global.css">
    </head>
    <body>
        <header>
            Regole
        </header>
        <nav>
            <ul id="navlist">
                <a href="/"><li class="navitem">Home</li></a>
                <a href="/about"><li class="navitem">About</li></a>
                <a href="/rules"><li class="navitem">Regolamento</li></a>
            </ul>
        </nav>
        <br>
        <ol style="display: flex; align-self: center;">
            <li>Non caricare verifiche.</li>
        </ol>
        <p>Per adesso mi viene in mente solo questo, spero di non doverne aggiungere altre ;)</p>
    </body>
</html>